<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88104742328-6mpvssfjmfq1buvn8relsets0a60lp3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88104742328-6mpvssfjmfq1buvn8relsets0a60lp3l</string>
	<key>API_KEY</key>
	<string>AIzaSyC0UFGbTEMpiira7EwDSJzTyz4cXjd-WDY</string>
	<key>GCM_SENDER_ID</key>
	<string>88104742328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appleDev.SpaceX-Fan</string>
	<key>PROJECT_ID</key>
	<string>spacex-fan-3cd3b</string>
	<key>STORAGE_BUCKET</key>
	<string>spacex-fan-3cd3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88104742328:ios:c0388cd4e05541e949b34d</string>
</dict>
</plist>